@import url('https://fonts.googlapis.com/css2?family=Poppins:wght@400;600;900&display=swap');
body{
    height: 100px;
    padding: 0px;
    background-color:aliceblue;
    
    background-size: 100%;
}
#Navbar{

     padding-bottom: 21.8px;
     display: flex;
     justify-content: space-between;
     height: 70px;
     background-color:white
}
#flipport{
    display: flex;
    justify-content: space-between;
}
.search{
    border: none;
    margin-right: 0px;
    width:50vw;
    margin-top: 0px;
    height: 35px;
    align-items: center;
    background-color: transparent;
    background-color: #f0f5ff;
}   
.options{
    display: flex;
    justify-content: space-evenly;
    width: 30vw;
}
.inner-options{
    display: flex;
   align-items: center;
   margin-left:10px;

}
#product{
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
    background-color: white;

}
#add{
    margin-top: 10px;
    
}
#Electronics{
    display:flex;
    justify-content: space-around;
    margin-top: 20px;  
     gap: 2px;
}
.eleproduct{
    border-width: 0.20px;
    box-sizing:border-box;
    border: 0.4px solid #e0e0e0;
    padding: 6px;
    margin-top: 8px;
    cursor: pointer;
    background-color: white;
    height: 310px;
    width: 250px;
    align-items: center;
    text-align: center;
}
    